@page "/0101helloworld"

<PageTitle>Hello World</PageTitle>

<br/>
<button @onclick="SayHello">Say Hello</button>
<br />
<br />
<pre>@message</pre>

@code {
    private string message = "";

    private void SayHello()
    {
        message = "Hello world!!!";
    }
}
