@page "/0103sequence"

<PageTitle>Hello World multi line</PageTitle>

<button @onclick="Execute">Do It!</button>

<br/>
<br/>

<div style="border:solid; border-color:black">
  <pre>@message</pre>
</div>

@code {
    private string message = "";

    private void Execute()
    {
        message = "Hello world!!!" + Environment.NewLine;
        message = message + "Hello World, again!" + Environment.NewLine;
        message = message + "Hello World, once again!" + Environment.NewLine;
        message = message + "Goodbye.";
    }
}
