@page "/0301ifbranch"

<PageTitle>Minimum</PageTitle>
<h1>Minimum</h1>
<p>
You can try to enter integers, real numbers and texts that are not numbers at all.
</p>
<table>
    <tr>
        <td>First argument:</td>
        <td><input @bind="x"/></td>
    </tr>
    <tr>
        <td>Second argument:</td>
        <td><input @bind="y"/></td>
    </tr>
    <tr>
        <td>Third argument:</td>
        <td><input @bind="z"/></td>
    </tr>
    <tr>
        <td>Fourth argument:</td>
        <td><input @bind="w"/></td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="2">
            <button @onclick="Minimum">Determine Minimum</button> &nbsp; 
        </td>
    </tr>
</table>
<br/>
<input @bind="result"/>

@code {

    private double x=0;
    private double y=0;
    private double z = 0;
    private double w = 0;
    private double result;

    private void Minimum()
    {
        System.Console.WriteLine("x: " + x + " y: " + y + " z: " + z + " w: " + w);
        double min = x;
        if (y < min)
            min = y;
        if (z < min)
            min = z;
        if (w < min)
            min = w;
        result = min;
        System.Console.WriteLine("Minimum for x, y, z, w: " + min);
        System.Console.WriteLine();       
    }
}
